
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section headers{
    <link href="@Url.Content("~/Assets/css/bootstrap.min.css")" rel="stylesheet">
    <!--Nifty Stylesheet [ REQUIRED ]-->
    <link href="@Url.Content("~/Assets/css/nifty.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Assets/css/demo/nifty-demo-icons.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Assets/css/demo/nifty-demo.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Assets/plugins/bootstrap-timepicker/bootstrap-timepicker.min.css")" rel="stylesheet">

    <link href="@Url.Content("~/Assets/plugins/chosen/chosen.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Assets/plugins/noUiSlider/nouislider.min.css")" rel="stylesheet">

}

@section scripts{
    <script src="@Url.Content("~/Assets/js/jquery.min.js")"></script>
    <script src="@Url.Content("~/Assets/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Assets/js/demo/nifty-demo.min.js")"></script>

    <script src="@Url.Content("~/Assets/plugins/chosen/chosen.jquery.min.js")"></script>
    <script src="@Url.Content("~/Assets/plugins/noUiSlider/nouislider.min.js")"></script>


    <script src="@Url.Content("~/Assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js")"></script>
    <script src="@Url.Content("~/Assets/js/nifty.min.js")"></script>
    <!--<script src="@Url.Content("~/Assets/js/demo/form-component.js")"></script>-->
    <script src="@Url.Content("~/Assets/plugins/bootstrap-timepicker/bootstrap-timepicker.min.js")"></script>


}

<h2>NOTA DE CREDITO</h2>

<div class="input-group date">
    <input id="demo-tp-com" type="text" class="form-control">
    <span class="input-group-addon"><i class="demo-pli-clock"></i></span>
</div>

<div id="demo-dp-inline">
    <div></div>
</div>

